/* 背景色設定用の記述 */

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

/* 固定グローバルメニュー用マージン */
.content-top {
  margin-top: 60px;
}

